* {
    margin: auto;
    text-align: center;
    font-family: arial;
}

h1 {
    color: royalblue;
    margin: 30px auto 10px;
    text-shadow: 1px 1px slategray;
}

.top-container,
.bottom-container {
    display: flex;
    justify-content: center;
}

.top-container div {
    margin: 20px;
}

.bottom-container div {
    margin: 20px 0;
}

.detail-container {
    width: 90px;
}

.emoji {
    cursor: pointer;
}

.board-container {
    margin: auto;
    background-color: rgb(112, 112, 112);
    table-layout: fixed;
}

.cell {
    background-color: gainsboro;
    cursor: default;
    padding: 0;
    height: 25px;
    width: 25px;
    box-shadow: inset 1.5px 1.5px #f7f5f5, inset -1.5px -1.5px #929292;
    font-weight: bold;
}

.shown {
    background-color: #c4c3c3;
    box-shadow: none;
}

.levels {
    display: flex;
    justify-content: center;
}

.level {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin: 20px;
    font-size: 14px;
}

.mine {
    height: 17px;
    margin-top: 3px;
}

.red {
    background-color: red;
}


/* colors */

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: indigo;
}

.five {
    color: maroon;
}

.six {
    color: teal;
}

.seven {
    color: fuchsia;
}

.eight {
    color: darkgoldenrod;
}