* {
    margin: auto;
    text-align: center;
    font-family: arial;
}

h1 {
    color: royalblue;
    margin: 30px auto 10px;
    text-shadow: 1px 1px slategray;
}


/* Data containers */

.data-container {
    display: flex;
    justify-content: center;
}

.middle-data {
    margin: 20px 25px;
    width: 70px;
}

.side-data {
    width: 100px;
    margin: 20px 0;
}


/* Top container */

.emoji {
    cursor: pointer;
}


/* Board */

.board-container {
    margin: auto;
    background-color: rgb(112, 112, 112);
    table-layout: fixed;
}

.cell {
    background-color: gainsboro;
    cursor: default;
    padding: 0;
    height: 25px;
    width: 25px;
    box-shadow: inset 1.5px 1.5px #fcfafa, inset -1.5px -1.5px #929292;
    font-weight: bold;
}


/* Best time */

.best-time-container {
    margin-top: 10px;
}


/* Levels */

.levels {
    display: flex;
    justify-content: center;
}

.level {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin: 20px;
    font-size: 14px;
}


/* Other properties */

.mine {
    height: 17px;
    margin-top: 3px;
}

.shown {
    background-color: #c4c3c3;
    box-shadow: none;
}

.red {
    background-color: red;
}

.bold {
    font-weight: bold;
}

.safe {
    background-color: #6498fa;
}


/* Number colors */

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: indigo;
}

.five {
    color: maroon;
}

.six {
    color: teal;
}

.seven {
    color: fuchsia;
}

.eight {
    color: darkgoldenrod;
}